html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Righteous", cursive;
}

.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 219, 0, 0.2);
}

.Header-Logo {
  transition: 0.3s;
  width: 200px;
}

.Header-Logo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.Header-Menu {
  display: flex;
}

.Header-Menu-Item {
  transition: 0.3s;
  text-align: center;
  margin: 0;
  width: 100px;
  line-height: 70px;
}

.Header-Menu-Item:hover {
  background-color: rgba(255, 219, 0, 0.5);
  color: white;
}

.Top {
  display: flex;
  align-items: center;
  height: 100vh;
}

.Top-Image {
  width: 100%;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(255, 219, 0, 0.2);
}

.About__Inner {
  width: 100%;
  max-width: 1080px;
}

.About-Title {
  font-size: 48px;
  text-align: center;
}

.About-Contents {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.About-Content-Text {
  width: 70%;
}

.About-Content-Image {
  width: 30%;
}

.About-Button {
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.1s;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
  width: 200px;
  padding: 12px 24px;
  background-color: #ffdb00;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.About-Button:hover {
  color: White;
}

.About-Button:active {
  position: relative;
  top: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: White;
}

.Solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 18px;
  padding-right: 18px;
}

.Solution__Inner {
  width: 100%;
  max-width: 1080px;
}

.Solution-Title {
  font-size: 48px;
  text-align: center;
}

.Solution-Contents {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Solution-Contents-Card {
  width: 46%;
  margin: 2%;
  min-width: 450px;
}

.Solution-Contents-Card-Problem {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.Solution-Contents-Card-Answer {
  display: flex;
}

.Solution__Icon {
  width: 50px;
  height: 50px;
}

.Study {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(255, 219, 0, 0.2);
}

.Study__Inner {
  width: 100%;
  max-width: 1080px;
}

.Study-Title {
  font-size: 48px;
  text-align: center;
}

.Study-Contents {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Study-Contents__Top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Study-Contents-Card {
  width: 45%;
  text-align: center;
  margin: 0 10px 50px 10px;
}

.Study-Contents-Card-Image {
  height: 180px;
}

.Study-Contents-Card-Title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.Study-Contents-Card-Description {
  font-size: 16px;
  margin-top: 0;
}

.Format {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 18px;
  padding-right: 18px;
}

.Format__Inner {
  width: 100%;
  max-width: 1080px;
}

.Format-Title {
  font-size: 48px;
  text-align: center;
}

.Format-Contents {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Format-Contents__Top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Format-Contents-Card {
  width: 31%;
  text-align: center;
  margin: 0 10px 50px 10px;
}

.Format-Contents-Card-Image {
  max-width: 200px;
}

.Format-Contents-Card-Title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.Format-Contents-Card-Description {
  font-size: 16px;
  margin-top: 0;
}

.Format-Contents__Bottom {
  display: flex;
}

.Format-Button {
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.1s;
  border-radius: 80px;
  width: 200px;
  padding: 12px 24px;
  background-color: #ffdb00;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.Format-Button:not(:first-child) {
  margin-left: 50px;
}

.Format-Button:hover {
  color: White;
}

.Format-Button:active {
  position: relative;
  top: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: White;
}