/* Members の画像一覧 */

.Members {
  background-color: rgba(255, 219, 0, 0.2);
  padding-bottom: 20%;
}

.Members-Title {
  padding-top: 110px;
  font-size: 80px;
  margin-left: 5%;
}

.Members__Images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.Member__Image img {
  width: 100%;
  border-radius: 10px;
  /* opacity : 0;
  transition : all 1s; */
}


/* .Member-Image img.active{
  opacity : 1;
} */

.Member-Image img:hover {
  opacity: 0.4;
}


/* 個人紹介 */

.Profiles {
  background-color: white;
  padding-top: 5%;
}

.Profile {
  display: flex;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 5% 15%; */
}

.Profile__Left {
  width: 30%;
}

.Profile__Right {
  width: 70%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.Profile__Left img {
  width: 100%;
  border-radius: 10px;
}

.Profile__Right__Name {
  margin: 0;
  font-size: 45px;
}

.Profile__Right__Name img {
  /* 用途不明 */
  margin-left: 30px;
  padding-bottom: 10px;
  width: 80px;
}

.Profile__Right__Name__Year {
  margin-left: 30px;
  padding: 3px 10px;
  color: white;
  font-size: 20px;
  background-color: blue;
}

.Profile__Right__Sentence {
  color: gray;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}